
/*----------------------- POUR LES PETITES RÉSOLUTIONS -----------------------*/

body{
    width: 100%;
    font-family: Comfortaa !important;
    background-color: white;

    
 
}

.container-fluid{
	width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover{
	color:#097197;
}

.navbar-light .navbar-nav .nav-link.active{
	color:#097197;
}


/* -------------------------------- Les ROW ----------------------------------*/
.row{
		padding:40px;
		padding-top:0px;
		padding-bottom:40px;
		margin:0px;
	}

.row#realisations{
    background-color: #D1D2F5;
    color: white;
}
.row#real{
	background-color: white;
}
.row#description {
    background-color: white;
    color: black;
    padding-bottom: 0%;
    padding-right: 0%;
}
 



/* ------------------------ Les titres et textes -----------------------------*/
h1 {
    text-align:center;
    margin-top:5%;
    margin-bottom:5%;
    font-family: Comfortaa;
    font-weight: 400;
    text-transform: uppercase;
}
h1#droite {
	    text-align:left;
	    /*margin-top:15%;*/
	    margin-left:5%;
	    margin-bottom:0px;
	    font-family:  Comfortaa;
	    font-weight: 700;
	    text-transform: uppercase;
}
h2 {
    font-family:  Comfortaa;
    text-transform: uppercase;
    text-align: center;
    margin:6%;
    font-size:25px;
}
h3 {
    font-family:  Comfortaa;
    text-transform: uppercase;
    text-align:center;
    margin:4%;
    font-size:1.3em;
}
h3.compo {
    font-family:  Comfortaa;
    text-transform: uppercase;
    margin:4%;
    text-align: center;
}

hr.real{
	border:solid 1px;
	width:20%;
	border-color:  #337ab7;
}
hr.titre{
	border:solid 1px #097197;
	width:40%;
	margin-top:2%;
	margin-bottom:2%;
}
hr.droite{
	text-align: left;
	margin-left:5%;
	border:solid 1px #097197;
	width:20%;
	margin-top:2%;
	margin-bottom:2%;
	
}

#txt{
    text-align: right;

}


.bleu {
	color:#097197;
}

 
/*---------------------------------- ANNIMATIONS -----------------------------*/
 
/*-------------------- haut ---------------------*/
.sesame_ouvre-toi {
	transition: transform 0.4s ease-out 0s, opacity 1s ease-out 0s;
}
.sesame_ouvre-toi.button_haut {
	transform: translateX(-100px);
	opacity: 0;
	transition-delay:1.2s
}
.sesame_ouvre-toi.tititre {
	transform: translateX(-100px);
	opacity: 0;
	transition-delay:0.6s
}
 
/*--------------------- sections -----------------*/
 
.sesame_ouvre-toi.cote_gauche {
	transform: translateX(-100px);
	opacity: 0;
}
.sesame_ouvre-toi.cote_droit {
	transform: translateX(100px);
	opacity: 0;
}
.sesame_ouvre-toi.titre {
	transform: translateY(-50px);
	opacity: 0;
	margin:0px;
}
.sesame_ouvre-toi.in {
	transform: translateX(0px);
	opacity: 1;
}
 
 


/*-------------------------------- Expériences -------------------------------*/
#tla{
	display:none;
}
div#blue:hover{
	color:#0489B1;
}
div#blue:hover + #tla{
	display: block;
}
 
 

 
/*---------------------------------- Contact ---------------------------------*/
section#concont:after{
	content:" ";
	display: block;
	clear: both;
} 
div.cont{
    padding: 15px;
}

#contact{
	padding: 7%;
	padding-top: 0px;
}

/*---------------------------------- Le footer -------------------------------------*/

#foot i.fa{
    margin: 5%;
}

#fin_foot{
    margin-top:3%;
    color:grey;
}
footer p{
    font-size: smaller;
}

footer{
    background:white;
    color:grey;
    padding-top: 3%;
}
footer h4{
    color:#097197;
}
footer i.fa{
    color:#097197;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:#097197;
}









.smartphone{
	display: none
}

p.smart {
	text-align: justify;
}




#bleu{
    background-image: url("../images/cotebleu.png");
    background-repeat : no-repeat;
    background-size: cover;
    height: 300px;
}
#interieur{
	padding-top:4%;
	color:#2E2E2E;
}

.left{
	text-align:left;
}
.centre{
	text-align: center;
}
.montop{
	margin-top: 2%;
}



/*particules*/
#particles-js{
	/*background-color:#A4A4A4;*/
	background-image: url("../images/fondbleu.jpg");
	background-size: cover;
	background-attachment:fixed;
    background-repeat : no-repeat;
	height: 700px;
	position: fixed;
	z-index: -2;
	width: 100%;
}

#espace{
	height: 700px
}



#presta{
	background-color: white;
}


#im-elisa{
	padding: 0%;
	padding-left: 3%
}


#concont{
	
	color: white;
	padding-top: 1%;
}







/******* tilts ******/


section#chut.in{
	display: none;
}

#montilt{
		display: block;
		position :fixed;
		top :30%;
		left :40%;
		transform :translateZ(50px) ;
		background :transparent;
		color: white;

	}
.montilt2{
	transform :translateZ(50px) ;
	background :transparent;
	color: white;


}

h4.rere{
	padding: 4%
}		
h3#droite{
    text-align: left;
}
		

#all{
	background-color: white;
	padding:0%;
}

.real{
	background-image: url("../images/fondbleu.jpg");
	/*background-attachment:fixed;*/
    background-repeat : no-repeat;
	height: 390px;
	/*border-radius: 10px; */
	margin: 4%;
	margin-top: 3%;
	margin-bottom: 3%;

}

#mon-flyers{
	background-image: url("../images/brochure.jpg");
	background-position:center center;
	background-size: 95%;
}
#mon-covering{
	background-image: url("../images/covering.jpg");
	background-position:center center;
	background-size: 95%;
}
#mon-potestatem{
	background-image: url("../images/potestatem.jpg");
	background-position:center center;
	background-size: 95%;
}


.real-int{
	border: 1px solid white;
	/*border-color: rgba(3,143,168,1);*/

	/*height: 360px;*/
	height: 92%;
	width: 96%;
	color: black;
	margin-top: 15px;
	margin-left: 2%;
	/*border-radius: 10px; */
}

.real-int h3{
	margin-top:20% 
}

.bouton-moi{
	display: none;
}


.real-int:hover .bouton-moi{
	display: block;
}
.real-int:hover .mon-img{
	display: none;
}


.mon-img{
	margin-top:-45px;

}
.mon-img#covring{
	margin-top:-25px;
	margin-left: -30px
	
}

.je_affiche{
	background-color: #2E4953;
	color: white;
	display: none;
	padding-top: 2%;
}


.cases-bas{
	padding-top: 10%;
}

#interieur .cases #cacher{
    height: 300px;
}
.cases #cacher{
    display: none;
}
.cases:hover #cacher{
    transition: all 0.3s ease-in-out 0s;
    animation-duration: 2s;
    transform: rotate(360deg);
    display: block;
}

.cases:hover #visible{
    transition: all 0.3s ease-in-out 0s;
    animation-duration: 2s;
    transform: rotate(360deg);
    display: none;
    
}


#illustrator{
	border-radius: 3px;
	padding:9%;
	padding-top: 0px;
	padding-bottom: 0px; 
}

#mobile{
	padding: 110px;
	padding-top: 0px;
	padding-bottom: 0px; 
}

#vivideo{
	padding:9%;
	padding-top: 0px;
	padding-bottom: 0px; 
	/*height: 220px;*/
}



#description #txt{
	padding-top: 5%;
}

#reflexion{
	margin-left: 10%;
	padding-left:25%;
	margin-top: 10%;
	border-left: 2px solid #0489B1;
}


.smartphonee{
	display: none;
}
.img-fluid{
	text-align: center;
}



.row#sans{
	padding: 0px;
}

.row#sanss{
	padding: 0px;
	background-color: #2E4953
}

.triangle-gauche{
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
 
    border-bottom: 30px solid #2E4953;
    margin-top: -50px;
    margin-left: 15%;
}

.smartponee{
	display: none;
}

.triangle-centre{
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
 
    border-bottom: 30px solid #2E4953;
    margin-top: -50px;
    margin-left: 47%;
}

.triangle-droite{
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
 
    border-bottom: 30px solid #2E4953;
    margin-top: -50px;
    margin-left: 78%;
}


