$icon-font-path: '../fonts/';
$navbar-light-active-color: #097197;
$navbar-light-hover-color: 	grey;
$navbar-light-color: #097197;

$danger: #097197;
$dark:#097197;



@import "elisa.css";
@import "node_modules/bootswatch/dist/lux/variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootswatch/dist/lux/bootswatch"






